<div class="container" id="home-container">
    <div class="p-5 mb-4 bg-light rounded-3 text-center jumbot">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Alpha Blog</h1>
            <p class="col fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <button class="btn btn-success btn-lg" type="button">Sign up!</button>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark text-white" id="sticky-footer">
  <div class="container text-center">
    <small>Copyright &copy; Alpha-Blog</small>
  </div>
</footer>

<%# <p>
<%= link_to 'Articles Listing', articles_path %>