// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
} 

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbot {
  background-image: asset-url('penbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color:#fff;
}

#sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

body {
  background-color: lightgrey;
}